* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #f0f2f5;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 60px;
}

/* LEFT SIDE */
.left {
  max-width: 400px;
}

.logo {
  color: #1877f2;
  font-size: 48px;
  margin-bottom: 10px;
}

.description {
  font-size: 20px;
}

/* RIGHT SIDE */
.login-box {
  background: white;
  padding: 25px;
  width: 360px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

label {
  display: none;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  background: #1877f2;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.forgot {
  display: block;
  text-align: center;
  margin: 15px 0;
  color: #1877f2;
  text-decoration: none;
}

hr {
  margin: 20px 0;
}

.create {
  display: block;
  margin: 0 auto;
  width: fit-content;
  background: #42b72a;
  color: white;
  padding: 12px 16px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}


.page-text {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.page-text a {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}


.footer {
  max-width: 1000px;
  margin: 40px auto 20px;
  padding: 0 20px;
  font-size: 12px;
  color: #737373;
}

.languages,
.links {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.footer a {
  color: #737373;
  text-decoration: none;
}

.footer hr {
  margin: 10px 0;
}