<!-- <h2>Album Detail</h2>

<div *ngIf="album">
  <p><strong>ID:</strong> {{ album.id }}</p>
  <p><strong>Title:</strong> {{ album.title }}</p>
   <label>Title:</label>
<input [(ngModel)]="album.title" />

<button (click)="save()">Save</button>
<button (click)="goBack()">Back</button>

  <a [routerLink]="['/albums', album.id, 'photos']">
    View Photos
  </a>
</div> -->


<h2>Album Detail</h2>

<div *ngIf="album">
  <p><strong>ID:</strong> {{ album.id }}</p>
  <p><strong>User ID:</strong> {{ album.userId }}</p>

  <label>Title:</label>
  <input [(ngModel)]="album.title" />

  <button (click)="save()">Save</button>

  <br><br>

  <a [routerLink]="['/albums', album.id, 'photos']">
    View Photos
  </a>

  <br><br>

  <button (click)="goBack()">Back</button>
</div>